*~
__pycache__
*.pyc
venv
cache
.devcontainer/
EI_config/
example_output/
images/
.editorconfig
.git
.gitattributes
.gitignore
Example_Guild_Data.py
LICENSE
README.md
RoleDecisionFlow.md
topstats
TW5_parsing_arc_top_stats.bat
TW5_Top_Stat_Parse.html